Reset id column

Standardize location_coordinates column

In [ ]:
UPDATE properties_2025_merged
SET location_coordinates = CASE
    -- Fix typos with extra "1" at the beginning
    WHEN location_coordinates LIKE '1 1917''%' THEN REPLACE(location_coordinates, '1 1917''', '1°17''')
    WHEN location_coordinates LIKE '1 1°17''%' THEN REPLACE(location_coordinates, '1 1°17''', '1°17''')
    
    -- Fix longitude typo (379° should be 37°)
    WHEN location_coordinates LIKE '%379°%' THEN REPLACE(location_coordinates, '379°', '37°')
    
    -- Fix "1921'42.1" typo (should be 1°21'42.1)
    WHEN location_coordinates LIKE '%1921''42.1%' THEN REPLACE(location_coordinates, '1921''42.1', '1°21''42.1')
    
    -- Empty to NULL
    WHEN location_coordinates = '' THEN NULL
    
    ELSE location_coordinates
END;

-- Replace 'and' with comma
UPDATE properties_2025_merged
SET location_coordinates = REGEXP_REPLACE(location_coordinates, '\s+and\s+', ', ', 'gi')
WHERE location_coordinates IS NOT NULL;

-- Replace '&' with comma
UPDATE properties_2025_merged
SET location_coordinates = REPLACE(location_coordinates, ' & ', ', ')
WHERE location_coordinates IS NOT NULL;

-- Normalize spacing
UPDATE properties_2025_merged
SET location_coordinates = REGEXP_REPLACE(location_coordinates, '\s+', ' ', 'g')
WHERE location_coordinates IS NOT NULL;

Client names standardization

In [ ]:
UPDATE properties_2025_merged
SET client_name = CASE
    -- Standardize KCB Bank variations
    WHEN LOWER(client_name) LIKE '%kcb bank%' THEN 'KCB Bank Kenya Limited'
    
    -- Standardize Co-operative Bank variations
    WHEN LOWER(client_name) LIKE '%co-operative bank%' 
         OR LOWER(client_name) LIKE '%co-op%bank%' THEN 'Co-operative Bank of Kenya Limited'
    
    -- Standardize Co-op Trust
    WHEN LOWER(client_name) LIKE '%co-op trust%' THEN 'Co-op Trust Investment Services Limited'
    
    -- Remove titles (Mr., Mrs., Dr., etc.) from individual names
    WHEN client_name LIKE 'Mr.%' THEN TRIM(REGEXP_REPLACE(client_name, '^Mr\.\s*', '', 'i'))
    WHEN client_name LIKE 'Mrs.%' THEN TRIM(REGEXP_REPLACE(client_name, '^Mrs\.\s*', '', 'i'))
    WHEN client_name LIKE 'Dr.%' THEN TRIM(REGEXP_REPLACE(client_name, '^Dr\.\s*', '', 'i'))
    WHEN client_name LIKE 'Ms.%' THEN TRIM(REGEXP_REPLACE(client_name, '^Ms\.\s*', '', 'i'))
    
    -- Keep others as is
    ELSE client_name
END;

Renumber index column

In [ ]:
ALTER TABLE valuations_2021_raw DROP COLUMN id;

ALTER TABLE valuations_2021_raw
ADD COLUMN id SERIAL PRIMARY KEY;

Insert new data

In [ ]:
INSERT INTO valuations_2025_clean_v2 (
    property_id,
    report_reference,
    land_reg_number,
    client_name,
    valuer_name,
    inspection_date,
    valuation_date,
    location_county,
    location_description,
    location_coordinates,
    plot_area_hectares,
    plot_area_acres,
    land_use,
    plot_shape,
    soil_type,
    gradient,
    tenure_type,
    registered_proprietor,
    encumbrance_category,
    market_value_amount,
    metadata
)
VALUES (
    'doc42282020251030133255',
    'SOO/DOO/5386/1/25',
    'MATUNGULU/KAMBUSU/870',
    'KCB Bank Kenya Limited',
    'Simon Oruka Orwa',
    '2025/10/13',
    '2025/10/13',
    'Machakos',
    'approximately 5 kilometres off Kangundo Road, 7 kilometres due Northeast of Tala shopping Center, 2 kilometres to the Northeast of Matungulu Boys’ High School and 360 meters to Southeast of Kambusu Secondary School within Kambusu area',
    '1°15''07.9"S 37°21''54.9"E',
    0.18,
    0.44,
    'Agricultural',
    'Irregular',
    'Red Soil',
    'Gentle Slope',
    'Freehold',
    'John Katunga Kavatha',
    'Has Charges',
    700000,
    '{
        "source_file": "doc42282020251030133255.pdf",
        "file_size_kb": 7472.84,
        "processing_time_seconds": 35.58,
        "ocr_used": true,
        "pages_processed": 14,
        "model_name": "models/gemini-2.5-flash",
        "timestamp": "2025-12-04T09:38:43.414744"
    }'::jsonb
);

Turnaround days categories

In [ ]:
ALTER TABLE valuations_2025_clean_v2
ADD COLUMN turnaround_category TEXT;

UPDATE valuations_2025_clean_v2
SET turnaround_category = CASE
    WHEN (valuation_date - inspection_date) BETWEEN 0 AND 10 THEN 'Fast Track'
    WHEN (valuation_date - inspection_date) BETWEEN 11 AND 30 THEN 'Standard'
    WHEN (valuation_date - inspection_date) > 30 THEN 'Delayed'
    ELSE 'Invalid'
END;

In [ ]:
UPDATE valuations_2025_clean_v2
SET turnaround_category = CASE
    WHEN (valuation_date - inspection_date) BETWEEN 0 AND 10 THEN 'Fast Track'
    WHEN (valuation_date - inspection_date) BETWEEN 11 AND 30 THEN 'Standard'
    WHEN (valuation_date - inspection_date) > 30 THEN 'Delayed'
    ELSE 'Invalid'
END
WHERE id IN (118, 119);

Client Classification

In [ ]:
WITH client_classification AS (
    SELECT 
        id,
        CASE 
            WHEN COUNT(*) OVER (PARTITION BY client_name) > 1 THEN 'Repeat Client'
            ELSE 'One-time Client'
        END AS computed_client_type
    FROM valuations_2025_clean_v2
)
UPDATE valuations_2025_clean_v2 v
SET client_type = c.computed_client_type
FROM client_classification c
WHERE v.id = c.id
  AND v.id IN (118, 119);

Replacing Nulls with zero(0)

In [ ]:
UPDATE public.property_management_raw_v1
SET 
  total_billed = CASE WHEN total_billed IS NULL OR total_billed = 'NULL' OR total_billed = '' THEN '0' ELSE total_billed END,
  total_paid = CASE WHEN total_paid IS NULL OR total_paid = 'NULL' OR total_paid = '' THEN '0' ELSE total_paid END,
  total_outstanding = CASE WHEN total_outstanding IS NULL OR total_outstanding = 'NULL' OR total_outstanding = '' THEN '0' ELSE total_outstanding END,
  total_expenses = CASE WHEN total_expenses IS NULL OR total_expenses = 'NULL' OR total_expenses = '' THEN '0' ELSE total_expenses END,
  total_expenses_paid = CASE WHEN total_expenses_paid IS NULL OR total_expenses_paid = 'NULL' OR total_expenses_paid = '' THEN '0' ELSE total_expenses_paid END;

-- Step 2: Replace NULL strings and actual NULLs with zero for numeric columns
UPDATE public.property_management_raw_v1
SET 
  total_units = CASE WHEN total_units IS NULL OR total_units = 'NULL' OR total_units = '' THEN '0' ELSE total_units END,
  total_unit_space = CASE WHEN total_unit_space IS NULL OR total_unit_space = 'NULL' OR total_unit_space = '' THEN '0' ELSE total_unit_space END,
  total_tenants = CASE WHEN total_tenants IS NULL OR total_tenants = 'NULL' OR total_tenants = '' THEN '0' ELSE total_tenants END,
  active_tenants = CASE WHEN active_tenants IS NULL OR active_tenants = 'NULL' OR active_tenants = '' THEN '0' ELSE active_tenants END;

-- Step 3: Change data types for currency columns (2 decimal places)
ALTER TABLE public.property_management_raw_v1
  ALTER COLUMN total_billed TYPE NUMERIC(15,2) USING total_billed::NUMERIC(15,2),
  ALTER COLUMN total_paid TYPE NUMERIC(15,2) USING total_paid::NUMERIC(15,2),
  ALTER COLUMN total_outstanding TYPE NUMERIC(15,2) USING total_outstanding::NUMERIC(15,2),
  ALTER COLUMN total_expenses TYPE NUMERIC(15,2) USING total_expenses::NUMERIC(15,2),
  ALTER COLUMN total_expenses_paid TYPE NUMERIC(15,2) USING total_expenses_paid::NUMERIC(15,2);

-- Step 4: Change data types for integer columns
ALTER TABLE public.property_management_raw_v1
  ALTER COLUMN total_units TYPE INTEGER USING total_units::INTEGER,
  ALTER COLUMN total_tenants TYPE INTEGER USING total_tenants::INTEGER,
  ALTER COLUMN active_tenants TYPE INTEGER USING active_tenants::INTEGER;

-- Step 5: Change total_unit_space to NUMERIC (assuming it might have decimals for square footage)
ALTER TABLE public.property_management_raw_v1
  ALTER COLUMN total_unit_space TYPE NUMERIC(12,2) USING total_unit_space::NUMERIC(12,2);

Type change from text to timestamp

In [ ]:
ALTER TABLE property_management_raw_v2
ALTER COLUMN latest_tenant_end TYPE TIMESTAMP
USING NULLIF(NULLIF(latest_tenant_end, 'NULL'), '')::TIMESTAMP;

Collection rate

In [ ]:
SELECT 
    property_id,
    property_status,
    property_name,
    property_team_name,
    total_tenant_billed,
    total_collected,
    CASE 
        WHEN COALESCE(total_tenant_billed, 0) = 0 THEN 0
        ELSE ROUND((COALESCE(total_collected, 0) / COALESCE(total_tenant_billed, 0)) * 100, 2)
    END AS collection_rate_percentage
FROM property_management_raw_v2
WHERE property_status='Active'
ORDER BY collection_rate_percentage DESC;

Collection rate by team

In [ ]:
SELECT 
    property_team_name,
    SUM(COALESCE(total_tenant_billed, 0)) AS total_billed,
    SUM(COALESCE(total_collected, 0)) AS total_collected,
    CASE 
        WHEN SUM(COALESCE(total_tenant_billed, 0)) = 0 THEN 0
        ELSE ROUND(
            (SUM(COALESCE(total_collected, 0)) / SUM(COALESCE(total_tenant_billed, 0))) * 100, 
            2
        )
    END AS collection_rate_percentage
FROM property_management_raw_v2
GROUP BY property_team_name
ORDER BY collection_rate_percentage DESC;

Collection rate by property type

In [ ]:
SELECT 
    property_type,
    COUNT(*) AS pf,
    SUM(COALESCE(total_tenant_billed, 0)) AS total_billed,
    SUM(COALESCE(total_collected, 0)) AS total_collected,
    CASE 
        WHEN SUM(COALESCE(total_tenant_billed, 0)) = 0 THEN 0
        ELSE ROUND(
            (SUM(COALESCE(total_collected, 0)) / SUM(COALESCE(total_tenant_billed, 0))) * 100, 
            2
        )
    END AS collection_rate_percentage
FROM property_management_clean_v3
WHERE property_status = 'Active'
GROUP BY property_type
ORDER BY collection_rate_percentage DESC;